@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Your To-Do List</h1>
    <p>Learn about <a href="https://en.wikipedia.org/wiki/Whip">a tool that was traditionally designed to strike animals or people</a> and encourage yourself.</p>
</div>
